# VS Code
.vscode/

# JetBrains (IntelliJ, PyCharm)
.idea/

# Python
__pycache__/
*.pyc
venv/
.env/

# Java
*.class
out/

# Node.js
node_modules/

# Logs
*.log
/java/Ejercicio_2/nbproject/private/
/java/Ejercicio_3/nbproject/private/
/java/Ejercicio_4/nbproject/private/
/java/Ejercicio_2/build/
/java/Ejercicio_5/nbproject/private/
/java/Ejercicio_6/nbproject/private/
/java/Ejercicio_7/nbproject/private/
/java/Ejercicio_5/build/
/java/Ejercicio_6/build/
/java/Ejercicio_7/build/
/java/Leccion_2/nbproject/private/
/java/CondicionalEjercicio_1/nbproject/private/
/java/Leccion_2/build/
/java/CondicionalEjercicio2/nbproject/private/
/java/CondicionalEjercicio_2/nbproject/private/
/java/CondicionalEjercicio_3/nbproject/private/
/java/Ejercicio_8/nbproject/private/
/java/Ejercicio_9/nbproject/private/
/java/Ejercicio_10/nbproject/private/
/java/CondicionalEjercicio_4/nbproject/private/
/java/CondicionalEjercicio_5/nbproject/private/
/java/CondicionalEjercicio_6/nbproject/private/
/java/CondicionalEjercicio_4/build/
